<div *ngIf="filterHide">
  <div class="bg-filter properties">
    <div class="checkbox-position">
      <div class="form-check form-group">
        <label class="form-check-label">
          <!-- checkbox that filters the articles by the tag lifestyle -->
          <input
            class="form-check-input"
            name="lifestyleFilter"
            type="checkbox"
            [(ngModel)]="filterSettings.lifestyleFilter"
            [checked]="lifestyleFilter"
            (change)="lifestyleFilter = !lifestyleFilter"
            >
          Lifestyle
        </label>
      </div>

      <div class="form-check form-group">
        <label class="form-check-label">
          <!-- checkbox that filters the articles by the tag travel -->
          <input
            class="form-check-input"
            name="travelFilter"
            type="checkbox"
            [(ngModel)]="filterSettings.travelFilter"
            [checked]="travelFilter"
            (change)="travelFilter = !travelFilter"
            >
          Travel
        </label>
      </div>

      <div class="form-check form-group">
        <label class="form-check-label">
          <!-- checkbox that filters the articles by the tag travel -->
          <input
            class="form-check-input"
            name="fashionFilter"
            type="checkbox"
            [(ngModel)]="filterSettings.fashionFilter"
            [checked]="fashionFilter"
            (change)="fashionFilter = !fashionFilter"
            >
          Fashion
        </label>
      </div>
      <button (click)="changeFilterSettings()" class="btn btn-save">Save</button>
    </div>
  </div>
</div>
<button (click)="showFilter()" class="btn xbg-filter btn-block">Filter</button>
