.checkbox-position {
  margin-left: 10%;
  margin-top: 2%;
}

.properties {
  height: 170px;
  color: white;
}

.bg-filter {
  background-color: #527812;
  color: white;
}

.xbg-filter {
  background-color: #527812;
  font-family: Century Gothic;
  text-transform: uppercase;
  color: white;
  border: #527812 1px solid;
  border-radius: 0px;
}

.xbg-filter:hover {
  background-color: white;
  color: black;
}

.btn-save {
  background-color: white;
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
  border: #133710 1px solid;
  border-radius: 0px;
}
.btn-save:hover {
  background-color: #B7FA1A;
}

@media (max-width: 767px) {
  .xbg-filter {
    margin-top: -7%;
  }
  .properties {
    height: 210px;
    margin-top: -7%;
  }
}

@media (max-width: 509px) {
  .xb-filter {
    margin-top: -5%;
  }
  .properties {
    margin-top: -5%;
  }
}
