.larry-picture {
  height: 250px;
  width: 170px;
  margin-top: 1%;
}

.allHiddenText {
  position: relative;
  margin-top: -7%;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.title-font {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.body-font {
  font-family: Century Gothic;
}

.card-header {
  background-color: white;
}

.strip {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

.btn-edit {
  background-color: white;
  color: #527812;
  border: #527812 1px solid;
  font-family: Century Gothic;
  text-transform: uppercase;
  border-radius: 0px;
}

.btn-edit:hover {
  background-color: #B7FA1A;
}

@media (max-width: 991px) {
  .allHiddenText {
    position: relative;
    margin-top: -12%;
  }
}

@media (max-width: 786px) {
  .allHiddenText {
    position: relative;
    margin-top: -19%;
  }
}
