<!-- if the "*ngIf" statement isn't true the code at the bottom will executed and not the code underneath this -->
<div *ngIf="abouts?.length > 0;else noAbouts">
  <div *ngFor="let about of abouts" class="card shadow">
    <div class="card-header">
      <h2 class="title-font">{{ about.firstName }} {{ about.lastName }}
        <button *ngIf="isLoggedIn" routerLink="/about/edit/{{ about.id }}" class="btn btn-edit btn-sm pull-right article-card-header-btn-position">
          <i class="fa fa-edit"></i> Edit
        </button>
      </h2>
    </div>
    <div class="strip"></div>
    <div class="card-body">
      <!-- if the *ngIf will be true the element will be hidden -->
      <img *ngIf="settings.hideAboutProfilePicture" class="larry-picture pull-right" src="https://www.das-fotostudio-duesseldorf.de/fileadmin/Gallerien/Bewerbungsfoto/Bewerbungsfotos-Frauen/bewerbungsfoto-frau.jpg" alt="hopla.jpg">
      <strong class="title-font" *ngIf="settings.hideAboutGeneral">General:</strong><br>
      <p *ngIf="settings.hideAboutGeneral" class="aboutTextLength body-font">{{ about.general }}</p><br>
      <strong class="title-font" *ngIf="settings.hideAboutInterests">Interests:</strong><br>
      <p *ngIf="settings.hideAboutInterests" class="aboutTextLength body-font">{{ about.interests }}</p><br>
      <strong class="title-font" *ngIf="settings.hideAboutQuestionBlog">Why a blog:</strong><br>
      <p *ngIf="settings.hideAboutQuestionBlog" class="aboutTextLength body-font">{{ about.blogQuestion }}</p>
      <!-- this *ngIf will be shown if every other *ngIf above is true -->
      <strong class="title-font" class="allHiddenText pull-left" *ngIf="showMessage">The Author doesn't want you to know something about him/her.</strong>
    </div>
  </div>
</div>

<!-- if there is no data in the database this will be shown instead of the code on top -->
<ng-template #noAbouts>
  <hr>
  <h5>There hasn't been an about section created yet!</h5>
</ng-template>
