<div class="card shadow">
  <div class="card-header title-font">
    <h3>Edit Settings</h3>
  </div>
  <div class="strip"></div>
  <div class="card-body">
    <form (submit)="onSubmit()">
      <div class="card col-md-3 m-4">
        <div class="card-header title-font">
          About Settings
        </div>
        <div class="strip"></div>
        <div class="card-body">
          <div class="form-check form-group">
            <label class="form-check-label body-font">
              <!-- checkboxes to decide which elements should be shown in the creating of an about -->
              <input
                class="form-check-input"
                name="hideAboutGeneral"
                type="checkbox"
                [checked]="!settings.hideAboutGeneral"
                (change)="settings.hideAboutGeneral = !settings.hideAboutGeneral"
                >
              Hide "General"
            </label>
          </div>
          <div class="form-check form-group">
            <label class="form-check-label body-font">
              <input
                class="form-check-input"
                name="hideAboutInterests"
                type="checkbox"
                [checked]="!settings.hideAboutInterests"
                (change)="settings.hideAboutInterests = !settings.hideAboutInterests"
                >
              Hide "Interests"
            </label>
          </div>
          <div class="form-check form-group">
            <label class="form-check-label body-font">
              <input
                class="form-check-input"
                name="hideAboutQuestionBlog"
                type="checkbox"
                [checked]="!settings.hideAboutQuestionBlog"
                (change)="settings.hideAboutQuestionBlog = !settings.hideAboutQuestionBlog"
                >
              Hide "Why a blog?"
            </label>
          </div>
          <div class="form-check form-group">
            <label class="form-check-label body-font">
              <input
                class="form-check-input"
                name="hideAboutProfilePicture"
                type="checkbox"
                [checked]="!settings.hideAboutProfilePicture"
                (change)="settings.hideAboutProfilePicture = !settings.hideAboutProfilePicture"
                >
              Hide your profile picture
            </label>
          </div>
        </div>
      </div>
      <input type="submit" value="Submit" class="btn btn-submit"> <!-- Button to save the settings -->
    </form>
  </div>
</div>
