.settings-card-favo-pos {
  width: 30%;
  height: 30%;
  margin-left: 40%;
  margin-top: -27%;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.title-font {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.body-font {
  font-family: Century Gothic;
}

.card-header {
  background-color: white;
}

.strip {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

.btn-submit {
  background-color: white;
  border: #527812 1px solid;
  border-radius: 0px;
  color: #527812;
}

.btn-submit:hover {
  background-color: #B7FA1A;
}
