.groesse {
  height: 35px;
}

a :link :visited :active :focus :hover{
  color: black;
}

a :hover {
  color: black;
}

a {
  color: black;
}

.extra-color :hover {
  color: red !important;
}

.extra-color :visited :active :focus {
  color: red !important;
}

.extra-color {
  color: red;
}

.navbar-brand {
  color: white;
}

.impressum-pos {
  font-family: Century Gothic;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 9pt;
}

.footer-bg {
  background-color: #527812;
}

@media (min-width: 776px) {
  .only-small {
    display: none !important;
    visibility: hidden !important;
    background-color: #527812;
    border-radius: 0px;
  }
}

@media (max-width: 776px) {
  .trytohide {
    display: none !important;
    visibility: hidden !important;
  }
  .only-small {
    display: block !important;
    height: 25px;
    padding: 0px 0px 0px 0px;
    background-color: #527812;
    border-radius: 0px;
  }
}
