<!-- basicly the classes for the footer define the height, that its sticks to the bottom and that it will hide at a specific screensize -->
<footer id="footer" class="d-flex navbar-expand-md footer-bg groesse justify-content-center align-items-center fixed-bottom trytohide">
  <div class="row">
    <div class="container">
      <a href="https://www.instagram.com/" class="navbar-brand"><i class="fa fa-instagram"></i></a>
      <a href="https://www.twitter.com/" class="navbar-brand"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/" class="navbar-brand"><i class="fa fa-facebook"></i></a>
      <a href="https://www.pinterest.com/" class="navbar-brand"><i class="fa fa-pinterest"></i></a>
      <a href="https://www.linkedin.com/" class="navbar-brand"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.xing.com/" class="navbar-brand"><i class="fa fa-xing-square"></i></a>
      <a href="https://www.skype.com/" class="navbar-brand"><i class="fa fa-skype"></i></a>
      <a routerLink="/impressum" class="impressum-pos">Impressum</a>
      <!-- the line below will only be seen at a specific screensize -->
      <a routerLink="/" (click)="hideFooter()" class="navbar-brand only-small extra-color" id="exit-btn"><i class="fa fa-times"></i></a>
    </div>
  </div>
</footer>
<!-- this will be the footer at specific screensize -->
<div id="footerBtn" (click)="showFooter()" class="btn btn-secondary fixed-bottom only-small">Show social media</div>


<!-- <li class="nav-item schrift-groesse">
        <a routerLink="/impressum" class="nav-link">Impressum</a>
      </li> -->
