.first-page-favo-pos {
  margin-top: -7.3%;
  font-family: Century Gothic;
  text-transform: uppercase;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.title-font {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.body-font {
  font-family: Century Gothic;
}

.card-header {
  background-color: white;
}

.strip {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

.keepreading {
  font-family: Century Gothic;
  color: #527812;
}

@media (max-width: 992px) {
  .first-page-favo-pos {
    margin-top: 0px;
  }
}

@media (max-width: 556px) {
  .first-page-favo-pos {
    font-size: 10pt;
  }
}
