<div *ngIf="articles?.length > 0;else noArticles">
  <div *ngFor="let article of articles">
    <div *ngIf="article.favo" class="card m-3 shadow">
      <div class="card-header">
        <h2 class="title-font">{{ article.title }}</h2>
        <p class="pull-right first-page-favo-pos">Authors favorite</p>
      </div>
      <div class="strip"></div>
      <div class="card-body body-font">
        {{ article.teaser }}<br><br>
        <a routerLink="/article/{{ article.id }}" class="pull-right keepreading"><p>Keep reading</p></a>
      </div>
    </div>
  </div>

  <div *ngFor="let articleByDate of articlesByDate.slice(0, 3)">
    <div *ngIf="!articleByDate.favo" class="card m-3 shadow">
      <div class="card-header">
        <h2 class="title-font">{{ articleByDate.title }}</h2>
      </div>
      <div class="strip"></div>
      <div class="card-body body-font">
        <p>{{ articleByDate.teaser }}</p>
        <a routerLink="/article/{{ articleByDate.id }}" class="pull-right keepreading"><p>Keep reading</p></a>
      </div>
    </div>
  </div>
</div>

<ng-template #noArticles>
  <hr>
  <h5>There are no Articles here!</h5>
</ng-template>
