<div class="card shadow">
  <div class="card-body">
    <div *ngFor="let upload of uploads">
      <a routerLink="/pictures/{{ upload.id }}" class="image-hover"><img [src]="upload.path" class="image-groesse"></a>
    </div>
  </div>
</div>
