.image-groesse {
  height: 200px;
  width: 280px;
  float: left;
  padding: 20px;
}

.image-hover :hover {
  box-shadow: 2px 2px 5px #bfbfbf;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.card {
  width: 105%;
  margin-left: -3%;
}