<nav class="navbar navbar-expand-md navbar-color fixed-top mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">eNtec</a>
    <button class="navbar-toggler burger-menu" type="button" data-toggle="collapse" data-target="#navbarMain"><i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isLoggedIn" class="nav-item schrift-groesse">
          <a routerLink="/article" class="nav-link">Articles</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item schrift-groesse dropdown">
          <a routerLink="/article" class="nav-link dropdown-toggle" data-toggle="dropdown">Articles</a> <!-- the routerLink will change the component to the new component, so no new site has to be loaded -->
          <ul class="dropdown-menu p-0">
            <li><a routerLink="/article-add" class="nav-link navlink-bg">Add article</a></li>
          </ul>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item schrift-groesse">
          <a routerLink="/pictures" class="nav-link">Pictures</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item schrift-groesse dropdown">
          <a routerLink="/pictures" class="nav-link dropdown-toggle" data-toggle="dropdown">Picture</a>
          <ul class="dropdown-menu p-0">
            <li><a routerLink="/pictures/edit" class="nav-link navlink-bg">Upload picture</a></li>
          </ul>
        </li>
        <li class="nav-item schrift-groesse">
          <a routerLink="/about" class="nav-link">About</a>
        </li>
        <li *ngIf="!isLoggedIn"  class="nav-item unten">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item schrift-groesse dropdown">
          <div *ngFor="let about of abouts"><a routerLink="/about" class="nav-link">{{ about.firstName }}</a></div>
          <ul class="dropdown-menu p-0">
            <li><a routerLink="/settings" class="nav-link navlink-bg"><i class="fa fa-cog"></i> Settings</a></li>
            <li><a (click)="onLogoutClick()" href="#" class="nav-link navlink-bg"><i class="fa fa-power-off"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
