.navbar-brand {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: white;
}

.navbar-brand:hover {
  background-color: #527812;
}

a {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: white;
}

a:hover {
  background-color: #133710;
}

.navbar-color {
  background-color: #527812;
}

.dropdown:hover .dropdown-menu {
  display: block;
	margin-top: 0px;
}

.navlink-bg {
  background-color: #527812;
}

.username {
  color: white;
}

.burger-menu {
  color: white;
  border: white 1px solid;
}
