<div class="row">
  <div class="col-md-8">
    <app-first-articles></app-first-articles> <!-- Shows the first-articles.component -->
  </div>
  <div class="col-md-4">
    <app-ranking></app-ranking> <!-- Shows the ranking.component -->
  </div>
</div>
