.checkbox-position {
  position: relative;
  margin-left: 13%;
  margin-top: -4.9%;
}

.article-btn-position {
  margin-left: 0%;
  margin-top: 13%;
}

.article-position-1 {
  margin-left: 5%;
  margin-top: -2%;
}

.checkbox-position-fashion {
  position: relative;
  margin-left: 24%;
  margin-top: -4.6%;
}

.btn-back {
  background-color: white;
  border: #527812 1px solid;
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
  border-radius: 0px;
}

.btn-back:hover {
  background-color: #B7FA1A;
}

.card-header {
  background-color: white;
}

.strip {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.body-font {
  font-family: Century Gothic;
}

.title-font {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.publish-btn {
  background-color: white;
  border: #527812 1px solid;
  border-radius: 0px;
  color: #527812;
}

.publish-btn:hover {
  background-color: #B7FA1A;
}


@media (max-width: 1200px) {
  .checkbox-position {
    margin-top: -5.7%;
  }

  .checkbox-position-fashion {
    margin-top: -5.5%;
  }
}

@media (max-width: 992px) {
  .checkbox-position {
    margin-left: 17%;
    margin-top: -7.8%;
  }

  .article-btn-position {
    margin-top: 8%;
  }

  .article-position-1 {
    margin-top: -4%;
  }

  .checkbox-position-fashion {
    margin-left: 32%;
    margin-top: -7.7%;
  }

}

@media (max-width: 768px) {
  .checkbox-position {
    margin-left: 19%;
    margin-top: -8.8%;
  }

  .article-btn-position {
    position: relative;
    margin-top: 0%;
    margin-left: 5%;
  }

  .article-position-1 {
    margin-top: 10%;
  }

  .checkbox-position-fashion {
    margin-left: 35%;
    margin-top: -8.6%;
  }
}

@media (max-width: 576px) {
  .checkbox-position {
    margin-top: -8.8%;
  }

  .checkbox-position-fashion {
    margin-top: -7.9%;
  }
}

@media (max-width: 530px) {
  .checkbox-position {
    margin-left: 0%;
    margin-top: 0%;
  }

  .checkbox-position-fashion {
    margin-left: 0%;
    margin-top: 0%;
  }
}
