<div class="article-btn-position">
  <button routerLink="/article/{{ id }}" class="btn btn-back btn-sm">
    <i class="fa fa-arrow-circle-o-left"></i> Back
  </button>
</div>

<div class="article-position-1">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card shadow article-card-position">
        <div class="card-body">
          <form #articleForm="ngForm" (ngSubmit)="onSubmit(articleForm)">
            <div class="form-group">
              <label class="title-font" for="title">Title</label>
              <input
                type="text"
                name="title"
                #articleTitle="ngModel"
                [ngClass]="{'is-invalid':articleTitle.errors && articleTitle.touched}"
                [(ngModel)]="article.title"
                class="form-control body-font"
                minlength="2"
                required
              >
              <div [hidden]="!articleTitle.errors?.required" class="invalid-feedback">
                Title required
              </div>
              <div [hidden]="!articleTitle.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>
            <div class="form-group">
              <label class="title-font" for="teaser">Teaser</label>
              <input
                type="text"
                name="teaser"
                #articleTeaser='ngModel'
                [(ngModel)]='article.teaser'
                class="form-control body-font mb-3"
                placeholder="Input Teaser.."
                minlength="2"
                required
                [ngClass]="{'is-invalid':articleTeaser.errors && articleTeaser.touched}"
              >
              <div [hidden]="!articleTeaser.errors?.required" class="invalid-feedback"> <!-- If the input field isn't filled it gets red outlines -->
                Teaser required
              </div>
              <div [hidden]="!articleTeaser.errors?.minlength" class="invalid-feedback"> <!-- If the input field hasn't at least the minimum amount of characters it gets red outlines -->
                Must be at least 2 characters
              </div>
            </div>

            <label class="title-font">Article</label>
            <div class="form-group">
                <ckeditor
                name="body"
                #articleBody="ngModel"
                [(ngModel)]="article.body"
                [config]="{uiColor: '#bfbfbf', removeButtons: 'Source,Save,NewPage,Preview,Print,Templates,PasteText,PasteFromWord,Find,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,CreateDiv,Link,Anchor,Unlink,Image,Flash,Table,HorizontalRule,Smiley,PageBreak,Iframe,Maximize,ShowBlocks,About'}"
                [readonly]="false"
                debounce="500"
                required>
              </ckeditor>
            </div>

            <div class="card-header title-font">
              Tags
            </div>
            <div class="strip"></div>
            <div class="card-body">
            <div class="form-check form-group">
              <label class="form-check-label body-font">
                <!-- checkboxes to decide which elements should be shown in the creating of an about -->
                <input
                  class="form-check-input"
                  name="lifestyle"
                  type="checkbox"
                  [(ngModel)]="article.lifestyle"
                  [checked]="lifestyle"
                  (change)="lifestyle = !lifestyle"
                  >
                Lifestyle
              </label>
            </div>

            <div class="form-check form-group checkbox-position">
              <label class="form-check-label body-font">
                <!-- checkbox which gives the article the hidden tag travel -->
                <input
                  class="form-check-input"
                  name="travel"
                  type="checkbox"
                  [(ngModel)]="article.travel"
                  [checked]="travel"
                  (change)="travel = !travel"
                  >
                Travel
              </label>
            </div>

            <div class="form-check form-group checkbox-position-fashion">
              <label class="form-check-label body-font">
                <!-- checkbox which gives the article the hidden tag fashion -->
                <input
                  class="form-check-input"
                  name="fashion"
                  type="checkbox"
                  [(ngModel)]="article.fashion"
                  [checked]="fashion"
                  (change)="fashion = !fashion"
                  >
                Fashion
              </label>
            </div>

            <div class="form-check form-group checkbox-position-favo pull-right">
              <label class="form-check-label body-font">
                <!-- checkbox which gives the article the hidden tag favo -->
                <input
                  class="form-check-input"
                  name="favo"
                  type="checkbox"
                  [(ngModel)]="article.favo"
                  [checked]="article.favo"
                  (change)="article.favo = !article.favo"
                  >
                Favorite
              </label>
            </div>
            </div>
            <input type="submit" value="Update" class="btn publish-btn btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
