<div class="card shadow">
  <div class="card-header">
    <h4 class="title-font">Upload</h4>
  </div>
  <div class="card-body">
    <label class="title-font">Choose a picture:</label><br>
    <label class="btn btn-upload">
      Open file..
      <input
        type="file"
        hidden
        (change)=uploadEvent($event)
        accept=".png,.jpg,.gif"
      >
    </label>
  </div>

  <form #pictureForm="ngForm" (ngSubmit)="onSubmit(pictureForm)">
    <div class="form-group">
      <label class="subtitle-font" for="subtitle">Subtitle</label>
      <input
        type="text"
        name="subtitle"
        #PictureSubtitle="ngModel"
        [(ngModel)]="subtitle"
        class="form-control input-field body-font"
        placeholder="Input subtitle.."
      >
    </div>
    <div class="form-group">
      <label class="subtitle-font" for="body">Description</label>
      <textarea
        name="body"
        #pictureBody="ngModel"
        [(ngModel)]="body"
        class="form-control body-font"
        rows="5"
        placeholder="Input text here.."
        required>
      </textarea>
    </div>
    <input type="submit" value="Publish" class="btn btn-upload btn-pos mb-3">
  </form>
</div>
