<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="card shadow">
      <div class="card-body">
        <form #articleForm="ngForm" (ngSubmit)="onSubmit(articleForm)">
          <div class="form-group">
            <label class="title-font" for="title">Title</label> <!--  Input to give the article a title -->
            <!--
              [ngClass]="{'is-invalid':xxXxxXxx.errors && xxXxxXxx.touched}" Marks the input field red when any "error" occures or the field was "touched" and left empty
              [(ngModel)]="xxx.yyYyy" the xxx is the array from where you get the yyYyy and which will be placed in the input field
              class="form-control" handle everything design related things for you, so it's not messed up
              minlength="x" says the minimum amount of characters which have to be written in the input field to be accepted
              "required" means that this input field has to be filled with any character to activate to publish function
            -->
            <input
              type="text"
              name="title"
              #articleTitle="ngModel"
              [ngClass]="{'is-invalid':articleTitle.errors && articleTitle.touched}"
              [(ngModel)]="title"
              class="form-control body-font"
              placeholder="Input title.."
              minlength="2"
              required
            >

            <div [hidden]="!articleTitle.errors?.required" class="invalid-feedback"> <!-- If the input field isn't filled it gets red outlines -->
              Title required
            </div>
            <div [hidden]="!articleTitle.errors?.minlength" class="invalid-feedback"> <!-- If the input field hasn't at least the minimum amount of characters it gets red outlines -->
              Must be at least 2 characters
            </div>
          </div>

          <label class="title-font" for="teaser">Teaser</label>
          <div>
            <input
            type="text"
            name="teaser"
            #articleTeaser='ngModel'
            [(ngModel)]='teaser'
            class="form-control body-font mb-3"
            placeholder="Input Teaser.."
            minlength="2"
            required
            [ngClass]="{'is-invalid':articleTeaser.errors && articleTeaser.touched}"
            >
            <div [hidden]="!articleTeaser.errors?.required" class="invalid-feedback"> <!-- If the input field isn't filled it gets red outlines -->
              Teaser required
            </div>
            <div [hidden]="!articleTeaser.errors?.minlength" class="invalid-feedback"> <!-- If the input field hasn't at least the minimum amount of characters it gets red outlines -->
              Must be at least 2 characters
            </div>
          </div>

          <label class="title-font">Article</label>
          <ckeditor
            name="body"
            #articleBody="ngModel"
            [(ngModel)]="body"
            [config]="{uiColor: '#bfbfbf', removeButtons: 'Source,Save,NewPage,Preview,Print,Templates,PasteText,PasteFromWord,Find,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,CreateDiv,Link,Anchor,Unlink,Image,Flash,Table,HorizontalRule,Smiley,PageBreak,Iframe,Maximize,ShowBlocks,About'
            }"
            [readonly]="false"
            debounce="500"
            required>
          </ckeditor>

          <div class="card-header title-font">
            Tags
          </div>
          <div class="strip"></div>
          <div class="card-body">
          <div class="form-check form-group">
            <label class="form-check-label body-font">
              <!-- checkbox which gives the article the hidden tag lifestyle -->
              <input
                class="form-check-input"
                name="lifestyle"
                type="checkbox"
                [(ngModel)]="lifestyle"
                [checked]="lifestyle"
                (change)="lifestyle = !lifestyle"
                >
              Lifestyle
            </label>
          </div>

          <div class="form-check form-group checkbox-position">
            <label class="form-check-label body-font">
              <!-- checkbox which gives the article the hidden tag travel -->
              <input
                class="form-check-input"
                name="travel"
                type="checkbox"
                [(ngModel)]="travel"
                [checked]="travel"
                (change)="travel = !travel"
                >
              Travel
            </label>
          </div>

          <div class="form-check form-group checkbox-position-fashion">
            <label class="form-check-label body-font">
              <!-- checkbox which gives the article the hidden tag fashion -->
              <input
                class="form-check-input"
                name="fashion"
                type="checkbox"
                [(ngModel)]="fashion"
                [checked]="fashion"
                (change)="fashion = !fashion"
                >
              Fashion
            </label>
          </div>
          </div>
          <input type="submit" value="Publish" class="btn publish-btn btn-block">
        </form>
      </div>
    </div>
  </div>
</div>
