.checkbox-position {
  position: relative;
  margin-left: 13%;
  margin-top: -4.5%;
}

.checkbox-position-fashion {
  position: relative;
  margin-left: 24%;
  margin-top: -4.6%;
}

.card-header {
  background-color: white;
}

.strip {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.body-font {
  font-family: Century Gothic;
}

.title-font {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.publish-btn {
  background-color: white;
  border: #527812 1px solid;
  border-radius: 0px;
  color: #527812;
}

.publish-btn:hover {
  background-color: #B7FA1A;
}

@media (max-width: 1200px) {
  .checkbox-position {
    margin-top: -5.3%;
  }

  .checkbox-position-fashion {
    margin-top: -5.5%;
  }
}

@media (max-width: 992px) {
  .checkbox-position {
    margin-left: 17%;
    margin-top: -7.5%;
  }

  .checkbox-position-fashion {
    margin-left: 32%;
    margin-top: -7.7%;
  }
}

@media (max-width: 768px) {
  .checkbox-position {
    margin-left: 19%;
    margin-top: -8.4%;
  }

  .checkbox-position-fashion {
    margin-left: 35%;
    margin-top: -8.6%;
  }
}

@media (max-width: 576px) {
  .checkbox-position {
    margin-top: -7.8%;
  }

  .checkbox-position-fashion {
    margin-top: -7.9%;
  }
}

@media (max-width: 530px) {
  .checkbox-position {
    margin-left: 0%;
    margin-top: 0%;
  }

  .checkbox-position-fashion {
    margin-left: 0%;
    margin-top: 0%;
  }
}
