<div class="article-position">
  <div class="article-btn-position">
    <button routerLink="/article" class="btn btn-back btn-sm"> <!-- brings the user back to the articles-overview.component -->
      <i class="fa fa-arrow-circle-o-left"></i> Back
    </button>
  </div>

  <div *ngIf="article" class="card shadow article-card-position mb-3"> <!-- If there is an article the code underneath will be shown -->
    <div class="card-header title-font">
      <h2>{{ article.title }} <!-- shows the title of the article -->
        <button (click)="onDeleteClick()" *ngIf="isLoggedIn" class="btn btn-delete btn-sm pull-right article-card-header-btn-position">
          <i class="fa fa-trash"></i> Delete
        </button>
        <button *ngIf="isLoggedIn" routerLink="/article/edit/{{ id }}" class="btn btn-edit btn-sm pull-right article-card-header-btn-position-edit">
          <i class="fa fa-edit"></i> Edit <!-- When the user is loggedin he/she will see the button to edit the article -->
        </button>
      </h2>
    </div>
    <div class="strip"></div>
    <div class="card-body body-font">
      <p class="article-date body-font">Published: {{ article.date | date: 'dd.MM.yy' }}</p>
      <div [innerHTML]="article.body"></div>
    </div>
  </div>

  <button routerLink="/article" class="btn btn-back btn-sm mb-3"> <!-- brings the user back to the articles-overview.component -->
    <i class="fa fa-arrow-circle-o-left"></i> Back
  </button>

  <div class="card comment-section shadow">      <!-- Comment section -->
    <div class="card-header title-font">
      Comments
    </div>
    <div class="strip"></div>
    <div class="card-body">
      <div *ngFor="let user of users"> <!-- START displaying the comments -->
        <div *ngIf="article.id == user.articleId" class="card card-comment shadow mb-3">
          <div class="card-header title-font">
            {{ user.name }}
          </div>
          <div class="strip"></div>
          <div class="card-body body-font">
            <p class="article-date">{{ user.date | date: 'dd.MM.yy | HH:mm' }} Uhr</p>
            {{ user.comment }}
          </div>
        </div>
      </div>  <!-- END -->

      <!-- Form for Name and Comment Input -->
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
          <label class="title-font" for="name">Username:</label>
          <input
            type="text"
            name="name"
            #userName="ngModel"
            [(ngModel)]="name"
            class="form-control body-font"
          >
        </div>
        <div class="form-group">
          <label class="title-font" for="comment">Comment:</label>
          <textarea
            name="comment"
            #userComment="ngModel"
            [(ngModel)]="comment"
            class="form-control body-font"
            rows="3"
          ></textarea>
        </div>
        <input type="submit" value="Send" class="btn submit-btn">
      </form>
    </div>
  </div>
</div>

