.article-btn-position {
  margin-left: -10%;
  margin-top: 13%;
}

.article-card-position {
  margin-top: -6%;
}

.btn-back {
  background-color: white;
  border: #527812 1px solid;
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
  border-radius: 0px;
}

.btn-delete {
  background-color: white;
  color: #527812;
  border: #527812 1px solid;
  font-family: Century Gothic;
  text-transform: uppercase;
  border-radius: 0px;
}

.btn-delete:hover {
  background-color: red;
  color: black;
  font-weight: bold;
  border: black 1px solid;
}

.btn-edit {
  background-color: white;
  color: #527812;
  border: #527812 1px solid;
  font-family: Century Gothic;
  text-transform: uppercase;
  border-radius: 0px;
}

.btn-edit:hover {
  background-color: #B7FA1A;
}

.card-header {
  background-color: white;
}

.strip {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

.btn-back:hover {
  background-color: #B7FA1A;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.body-font {
  font-family: Century Gothic;
}

.title-font {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.submit-btn {
  background-color: white;
  border: #527812 1px solid;
  border-radius: 0px;
  color: #527812;
}

.submit-btn:hover {
  background-color: #B7FA1A;
}

.comment-section {
  width: 60%;
  margin: 0 auto;
}

.card-comment {
  width: 90%;
}

@media (max-width: 992px) {
  .article-btn-position {
    margin-left: -12%;
    margin-top: 10%;
  }

  .article-card-position {
    margin-top: -7%;
  }
}

@media (max-width: 767px) {
  .article-btn-position {
    margin-left: -15%;
    margin-top: 13%;
  }

  .article-card-position {
    margin-top: -10%;
  }
}

@media (max-width: 608px) {
  .article-btn-position {
    position: relative;
    margin-left: 0%;
    margin-top: 0%;
  }

  .article-card-position {
    margin-top: 2%;
  }
}
