<div class="anschrift">
  <div class="card shadow breite m-3">
    <div class="card-header title-font">
      <h4>Geschäftsanschrift</h4>
    </div>
    <div class="strip"></div>
    <div class="card-body body-font">
      <p>
        Geschäftsname GmbH<br>
        Große Straße 32-34<br>
        12345 Stadt<br>
        info@geschaeft.de
      </p>
    </div>
  </div>
</div>
<div class="kontakte">
  <div class="card shadow m-3">
    <div class="card-header title-font">
      <h4>Kontakte</h4>
    </div>
    <div class="strip"></div>
    <div class="card-body body-font">
      <p>
        Namen Namen <br>
        Telefonnummern<br>
        Adressen<br>
        weitere Informationen
      </p>
    </div>
  </div>
</div>
<div class="card shadow weitere m-3">
  <div class="card-header title-font">
    <h4>Weitere Beteiligte</h4>
  </div>
  <div class="strip"></div>
  <div class="card-body body-font">
    <p>
      Namen Namen<br>
      Telefonnummern<br>
      Adressen<br>
      weitere Informationen
    </p>
  </div>
</div>
