.anschrift {
  width: 50%;
}

.weitere {
  width: 100%;
}

.kontakte {
  width: 53%;
  position: relative;
  margin-left: 50%;
  margin-top: -20.8%;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.title-font {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.body-font {
  font-family: Century Gothic;
}

.card-header {
  background-color: white;
}

.strip {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

@media (max-width: 1200px) {
  .kontakte {
    margin-top: -24.9%;
  }
}

@media (max-width: 992px) {
  .kontakte {
    margin-top: -33.4%;
    margin-left: 51.7%;
  }
  .anschrift {
    width: 53%;
  }
}

@media (max-width: 768px) {
  .kontakte {
    margin-top: -45.5%;
    margin-left: 53.2%;
  }
  .anschrift {
    width: 54.8%;
  }
}

@media (max-width: 576px) {
  .kontakte {
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
  }
  .anschrift {
    width: 100%;
  }
  .weitere {
    width: 94.2%;
  }
}

@media (max-width: 400px) {
  .weitere {
    width: 92.2%;
  }
}
