<div class="filter-component-position" *ngIf="articles?.length > 0;else noArticlesFilter">
  <app-filter></app-filter>
</div>

<div *ngIf="articles?.length > 0;else noArticles">
  <div *ngFor="let article of getFilterArticles()" class="card shadow m-3"> <!-- Loops through the array of articles and displays them in the code below -->
    <div class="card-header title-font">
      <h2>{{ article.title }}</h2>
    </div>
    <div class="strip"></div>
    <div class="card-body body-font">
      <p>{{ article.teaser }}</p>
      <a routerLink="/article/{{ article.id }}" class="pull-right keepreading"><p>Keep reading</p></a>
    </div>
  </div>
</div>

<ng-template #noArticles> <!-- If there are no articles in the database this will be shown -->
  <hr>
  <h5>There are no Articles here!</h5>
</ng-template>

<ng-template #noArticlesFilter></ng-template> <!-- If there are no articles in the database the filter will be hidden -->
