.filter-component-position {
  position: relative;
  margin-top: -2.3%;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.title-font {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.body-font {
  font-family: Century Gothic;
}

.card-header {
  background-color: white;
}

.strip {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

.keepreading {
  font-family: Century Gothic;
  color: #527812;
}

@media (max-width: 1200px) {
  .filter-component-position {
    position: relative;
    margin-top: -2.8%;
  }
}

@media (max-width: 992px) {
  .filter-component-position {
    position: relative;
    margin-top: -3.7%;
  }
}

@media (max-width: 766px) {
  .filter-component-position {
    position: relative;
    margin-top: -5.2%;
  }
}

@media (max-width: 517px) {
  .filter-component-position {
    position: relative;
    margin-top: -5.7%;
  }
}

@media (max-width: 444px) {
  .filter-component-position {
    position: relative;
    margin-top: -6.5%;
  }
}
