<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card shadow">
      <div class="card-header">
        <h2 class="title-font pb-4 pt-3">
          Author Login
        </h2>
      </div>
      <div class="strip"></div>
      <div class="card-body">
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label class="title-font position" for="email">Email</label>
            <input type="email" name="email" [(ngModel)]="email" class="form-control body-font length" required>
          </div>
          <div class="form-group">
            <label class="title-font position" for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="password" class="form-control body-font length" required>
          </div>
          <input type="submit" value="Login" class="btn btn-position">
        </form>
      </div>
    </div>
  </div>
</div>
