.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.length {
  width: 80%;
  border-radius: 0%;
  margin: 0 auto;
}

.position {
  margin-left: 10%;
}

.btn-position {
  margin-left: 42.5%;
  background-color: white;
  border-radius: 0%;
  border: #527812 1px solid;
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.btn-position:hover {
  background-color: #B7FA1A;
}

.title-font {
  font-family: Century Gothic;
  text-transform: uppercase;
}

.body-font {
  font-family: Century Gothic;
}

.strip {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

.card-header {
  background-color: white;
}
