.xposition{
  margin-left: 50%;
}

@media (min-width: 777px) {
  .breite{
    width: 100%;
  }
}

@media (max-width: 777px) {
  .breite{
    width: 93%;
  }
}

.dropdown-button {
  background-color: white;
  border: #527812 1px solid;
  font-family: Century Gothic;
  text-transform: uppercase;
  border-radius: 0px;
  color: #527812;
}

.dropdown-button:hover {
  background-color: #B7FA1A;
}

.dropdown-menu {
  border-radius: 0px;
}

.dropdown-item {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.dropdown-item:hover {
  background-color: #B7FA1A;
}

.table-header {
  color: #527812;
  font-family: Century Gothic;
  text-transform: uppercase;
  font-size: 20pt !important;
}

.stripe {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

.table-items {
  color: #527812;
  font-family: Century Gothic;
  text-transform: uppercase;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

@media (max-width: 992px) {
  .table-header {
    font-size: 15pt !important;
  }
  .table-items {
    font-size: 11pt;
  }
  .dropdown-button {
    font-size: 12pt;
  }
}

@media (max-width: 767px) {
  .table-header {
    font-size: 20pt !important;
  }
  .table-items {
    font-size: 13pt;
  }
}
