<table *ngIf="articles?.length > 0;else noArticles" class="table table-striped m-3 breite shadow">
  <thead class="thead-inverse border">
    <th class="table-header">
      <div class="btn-group d-flex flex-row justify-content-between">
        <div>Top 10:</div>
        <div>
          <button type="button" class="btn dropdown-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ btnTitle }}
          </button>                     <!-- dropdown menu -->
          <div class="dropdown-menu p-0">
            <a *ngIf="showMenuTitleToday" (click)="switchToToday()" class="dropdown-item" routerLink="/">Today</a>
            <a *ngIf="showMenuTitleMonth" (click)="switchToMonth()" class="dropdown-item" routerLink="/">Month</a>
            <a *ngIf="showMenuTitleYear" (click)="switchToYear()" class="dropdown-item" routerLink="/">Year</a>
          </div>
        </div>
      </div>
    </th>
  </thead>
  <div class="stripe"></div>
  <tbody *ngIf="!showTitle" class="border"> <!-- will be hidden if in the dropdown menu any button will clicked -->
    <tr *ngFor="let article of articles.slice(0, 10); let i = index"> <!-- loops through the articles& displays only 10 items & only the titles & sorted by title -->
      <td class="table-items">{{ i+1 }}. <a class="rankingLink table-items" routerLink="/article/{{ article.id }}">{{ article.title }}</a></td>
    </tr>
  </tbody>
  <tbody *ngIf="showTitle" class="border"> <!-- will be hidden if in the dropdown menu any button will clicked -->
    <tr *ngFor="let articleByDate of articlesByDate.slice(0, 10); let i = index"> <!-- loops through the articles & displays only 10 items & only the titles & sorted by date -->
      <td class="table-items">{{ i+1 }}. <a class="rankingLink table-items" routerLink="/article/{{ articleByDate.id }}">{{ articleByDate.title }}</a></td>
    </tr>
  </tbody>
</table>
<!-- Will only be shown if there are no articles in the database -->
<ng-template #noArticles>
  <hr>
  <h5>There are no Articles here!</h5>
</ng-template>
