.image-pos {
  height: 200px;
  width: 300px;
  margin-left: 27%;
}

.card {
  width: 60%;
  margin: 0 auto;
  float: none;
}

.card-comment {
  margin-left: 0px;
}

.card-header {
  background-color: white;
}

.strip {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.body-font {
  font-family: Century Gothic;
}

.title-font {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.submit-btn {
  background-color: white;
  border: #527812 1px solid;
  border-radius: 0px;
  color: #527812;
}

.submit-btn:hover {
  background-color: #B7FA1A;
}

.btn-back {
  background-color: white;
  border: #527812 1px solid;
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
  border-radius: 0px;
}

.btn-back:hover {
  background-color: #B7FA1A;
}

.btn-back-pos {
  margin-left: 10%;
  margin-top: 15%;
}

.card-pos {
  margin-top: -8%;
}

@media (max-width: 992px) {
  .btn-back-pos {
    margin-left: 7%;
  }
  .image-pos {
    margin-left: 25%;
  }
}

@media (max-width: 767px) {
  .btn-back-pos {
    margin-left: 0%;
  }
  .image-pos {
    margin-left: 12.5%;
  }
}
 @media (max-width: 413px) {
   .image-pos {
    margin-left: 0%;
   }
 }
