<div class="btn-back-pos">
  <button routerLink="/pictures" class="btn btn-back btn-sm">
    <i class="fa fa-arrow-circle-o-left"></i> Back
  </button>
</div>

<div class="card card-pos mb-1 shadow">
  <div class="card-body">
    <img class="image-pos" [src]="upload.path">
  </div>
</div>
<div class="card mb-4 shadow">
  <div class="card-header">
    <b class="title-font">{{ upload.subtitle }}</b>
  </div>
  <div class="strip"></div>
  <div class="card-body">
    <div class="body-font" [innerHTML]="upload.body"></div>
  </div>
</div>
<div class="card shadow">      <!-- Comment section -->
  <div class="card-header title-font">
    Comments
  </div>
  <div class="strip"></div>
  <div class="card-body">
    <div *ngFor="let user of users"> <!-- START displaying the comments -->
      <div *ngIf="upload.id == user.articleId" class="card card-comment shadow mb-3">
        <div class="card-header title-font">
          {{ user.name }}
        </div>
        <div class="strip"></div>
        <div class="card-body body-font">
          <p class="article-date">{{ user.date | date: 'dd.MM.yy | HH:mm' }} Uhr</p>
          {{ user.comment }}
        </div>
      </div>
    </div>  <!-- END -->

    <!-- Form for Name and Comment Input -->
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group">
        <label class="title-font" for="name">Username:</label>
        <input
          type="text"
          name="name"
          #userName="ngModel"
          [(ngModel)]="name"
          class="form-control body-font"
        >
      </div>
      <div class="form-group">
        <label class="title-font" for="comment">Comment:</label>
        <textarea
          name="comment"
          #userComment="ngModel"
          [(ngModel)]="comment"
          class="form-control body-font"
          rows="3"
        ></textarea>
      </div>
      <input type="submit" value="Send" class="btn submit-btn">
    </form>
  </div>
</div>
