/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Century Gothic";
  src: url("911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf");
}

.alert p {
  margin: 0;
  padding: 0;
}

.schrift-groesse {
  font-size: 18pt;
}

.unten {
  margin-top: 8px;
}

.linkStyle {
  text-decoration: none !important;
  color: black;
}

.linkStyle :hover {
  color: black;
  font-size: 24.5pt;
}

.abstand {
  margin-bottom: 50px;
  margin-top: 90px;
}

.rankingLink {
  color: black;
}

.rankingLink :hover {
  color: black !important;
  text-decoration: underline;
}

.article-position {
  margin-left: 5%;
}

.about-position {
  margin-left: 15%;
}

.article-btn-position {
  margin-left: -10%;
  margin-top: 15%;
}

.article-card-position {
  margin-top: -5%;
}

.about-card-position {
  margin-top: -8%;
}

.article-card-header-btn-position {
  margin-top: 0.8%;
}

.article-card-header-btn-position-edit {
  margin-top: 0.8%;
  margin-right: 0.8%;
}

.btn-size {
  height: 50px;
  width: 50px;
  margin-left: 45%;
}

.aboutTextLength {
  width: 75%;
}

.btn-delete-position {
  margin-top: -4%;
}

.btn-delete-hide {
  display: none !important;
  visibility: hidden !important;
}

.article-date {
  font-size: 10pt;
  margin-top: -2%;
}
