<!-- "Back" button to get back to the normal about site -->
<div class="about-position">
  <div class="article-btn-position">
    <button routerLink="/about" class="btn btn-upload btn-sm">
      <i class="fa fa-arrow-circle-o-left"></i> Back
    </button>
  </div>

<!-- The whole "card" which the form is in -->
  <div class="row">
    <div class="col-md-10 mx auto">
      <div class="card shadow about-card-position">
        <div class="card-body">
          <form #aboutForm="ngForm" (ngSubmit)="onSubmit(aboutForm)">
            <div class="form-group">                                    <!-- Firstname Label and Input -->
              <label class="title-font" for="firstName">Firstname:</label>
              <!--
                [ngClass]="{'is-invalid':xxXxxXxx.errors && xxXxxXxx.touched}" Marks the input field red when any "error" occures or the field was "touched" and left empty
                [(ngModel)]="xxx.yyYyy" the xxx is the array from where you get the yyYyy and which will be placed in the input field
                class="form-control" handle everything design related things for you, so it's not messed up
                minlength="x" says the minimum amount of characters which have to be written in the input field to be accepted
                "required" means that this input field has to be filled with any character to activate to publish function
              -->
              <input
                type="text"
                name="firstName"
                #aboutFirstName="ngModel"
                [ngClass]="{'is-invalid':aboutFirstName.errors && aboutFirstName.touched}"
                [(ngModel)]="about.firstName"
                class="form-control body-font"
                minlength="2"
                required
              >
              <div [hidden]="!aboutFirstName.errors?.required" class="invalid-feedback">  <!-- If the input field isn't filled it gets red outlines -->
                Firstname required
              </div>
              <div [hidden]="!aboutFirstName.errors?.minlength" class="invalid-feedback"> <!-- If the input field hasn't at least the minimum amount of characters it gets red outlines -->
                Must be at least 2 characters
              </div>
            </div>
            <div class="form-group">
              <label class="title-font" for="lastName">Lastname:</label>
              <input
                type="text"
                name="lastName"
                #aboutLastName="ngModel"
                [ngClass]="{'is-invalid':aboutLastName.errors && aboutLastName.touched}"
                [(ngModel)]="about.lastName"
                class="form-control body-font"
                minlength="2"
                required
              >
              <div [hidden]="!aboutLastName.errors?.required" class="invalid-feedback">
                Lastname required
              </div>
              <div [hidden]="!aboutLastName.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>

            <!-- Button to upload a profile picture -->
            <div class="form-group">
              <label class="title-font">Pofile picture:</label><br>
              <label class="btn btn-upload">
                Open file...
                <input type="file" accept=".jpg,.png,.gif" hidden [disabled]="!settings.hideAboutProfilePicture"> <!-- type="file" makes the input to a file browser open button -->
              </label>
            </div>

            <div class="form-group">
              <label class="title-font" for="general">General:</label>
              <!-- "textarea" is an input field that can be extended to infinity, basicaly a multiline input -->
              <!-- rows="x" specifies how many lines the textarea should have by default -->
              <!-- [disabled]="xxXxxXxx" makes the textfield disabled if the settings say so -->
              <!-- The textarea doesn't have "type="text"" because that makes it a normal input field  -->
              <textarea
                name="general"
                #aboutGeneral="ngModel"
                [ngClass]="{'is-invalid':aboutGeneral.errors && aboutGeneral.touched}"
                [(ngModel)]="about.general"
                [disabled]="!settings.hideAboutGeneral"
                class="form-control body-font"
                rows="5"
                minlength="2"
                required
              ></textarea>
              <div [hidden]="!aboutGeneral.errors?.required" class="invalid-feedback">
                General text required
              </div>
              <div [hidden]="!aboutGeneral.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>
            <div class="form-group">
              <label class="title-font" for="interests">Interests:</label>
              <textarea
                name="interests"
                #aboutInterests="ngModel"
                [ngClass]="{'is-invalid':aboutInterests.errors && aboutInterests.touched}"
                [(ngModel)]="about.interests"
                [disabled]="!settings.hideAboutInterests"
                class="form-control body-font"
                rows="5"
                minlength="2"
                required
              ></textarea>
              <div [hidden]="!aboutInterests.errors?.required" class="invalid-feedback">
                Interests text required
              </div>
              <div [hidden]="!aboutInterests.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>
            <div class="form-group">
              <label class="title-font" for="blogQuestion">Why a blog:</label>
              <textarea
                name="blogQuestion"
                #aboutBlogQuestion="ngModel"
                [ngClass]="{'is-invalid':aboutBlogQuestion.errors && aboutBlogQuestion.touched}"
                [(ngModel)]="about.blogQuestion"
                [disabled]="!settings.hideAboutQuestionBlog"
                class="form-control body-font"
                rows="5"
                minlength="2"
                required
              ></textarea>
              <div [hidden]="!aboutBlogQuestion.errors?.required" class="invalid-feedback">
                Why a blog text required
              </div>
              <div [hidden]="!aboutBlogQuestion.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>
            <input type="submit" value="Update" class="btn btn-upload btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
