[hidden] {
  display: none !important;
}

.shadow {
  box-shadow: 2px 2px 5px #bfbfbf;
  border-radius: 0%;
}

.title-font {
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
}

.body-font {
  font-family: Century Gothic;
}

.card-header {
  background-color: white;
}

.strip {
  background-color: #B7FA1A;
  width: 100%;
  height: 2px;
}

.btn-back {
  background-color: white;
  border: #527812 1px solid;
  font-family: Century Gothic;
  text-transform: uppercase;
  color: #527812;
  border-radius: 0px;
}

.btn-back:hover {
  background-color: #B7FA1A;
}

.btn-upload {
  background-color: white;
  color: #527812;
  border: #527812 1px solid;
  border-radius: 0px;
  font-family: Century Gothic;
  text-transform: uppercase;
}

.btn-upload:hover {
  background-color: #B7FA1A;
}
